@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'typed';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  background-color: transparent;
  color: white;
}

.NavigationMenuContent {
  background-color: white;
}

.tip {
  font-size: inherit;
  font-family: inherit;
  color: #000;
  margin: 0.1rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem;
  background: white;
  accent-color: black;
}

div > .tiptap .ProseMirror .added {
  @apply border
}

input::placeholder {
  color: #CCC !important;
  opacity: 1; /* Firefox */
}

textarea::placeholder {
  color: #CCC !important;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #CCC !important;
}

textarea::-ms-input-placeholder { /* Edge 12 -18 */
  color: #CCC !important;
}

/* SCROLL TOP BUTTON */

/*.scroll-top-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.scroll-top-button.visible {
  opacity: 0.5;
  visibility: visible;
}
.scroll-top-button:before {
  font-family: 'Material Icons', serif;
  content: 'chevron_right';
  transform: rotate(270deg);
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #06060f;
  color: #99a9b5;
}
@media (max-width: 768px) {
  .scroll-top-button {
    right: 10px;
  }
}*/

.wrap {
  @include typed("Proctored Exam", "Essay Writing", "Nursing School", [.04, null, null, .01], (caret-speed: .75, caret-width: 3px, caret-color: #ffffff));
}

.menuBtn {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.listItem {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.place_order {
  text-decoration: none;
  @apply mt-12 bg-teal-300 w-44 py-3 px-8 text-xl rounded-2xl text-black font-semibold hidden lg:inline-block transform hover:scale-105 transition ease-in-out duration-100
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.triangle-bottomleft {
  width: 0;
  height: 0;
  border-top: 16px solid rgba(255, 255, 255, 0.9);
  border-right: 14px solid transparent;
}

#progress {
  position: absolute;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: black;
  opacity: 0.3;
}

#progress .indicator {
  stroke: #005398;
}


/* width */
.horizontalScroll::-webkit-scrollbar {
  display: none;
}

/* Track */
.horizontalScroll::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
.horizontalScroll::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
.horizontalScroll::-webkit-scrollbar-thumb:hover {
  display: none;
}
